

.add-field-button-container button, 
.add-technician-button-container button {
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    padding: 5px 10px; 
    border-radius: 4px;
    cursor: pointer;
    background-color: #3874ff;
    color: white;
    font-size: 12px;
    font-weight: 400;
}
.add-field-button-container button:hover, 
.add-technician-button-container button:hover{
    background-color: #004dff;
}
.add-field-button-container svg, 
.add-technician-button-container svg {
    margin-right: 5px;
}
.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    opacity: 1;
}
.dark-mode .form-container{
    background: #141824;
    border: 1px solid #373e53;
}


#closebtn {
    position: relative;

    cursor: pointer;
    transition: fill 0.3s ease, stroke-width 0.3s ease;
}

#closebtn:hover {
    fill: #ea4335;
    stroke-width: 1;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.form-row label {
    display: block;
    margin-bottom: 5px;
    min-width: 160px; 
}

.dark-mode .form-row input[type="text"],
.dark-mode .form-row select { 
    background: #0f111a;
    border: 1px solid #373e53;
    color: #fff;
}
#technicianfield{
    width: 160px;
}
.form-row input[type="text"],
.form-row select{
    border: 1px solid #333;
    border-radius: 5px;
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
}
.form-row input[type="text"]:focus,
.form-row select:focus{
    outline: none;
    border-color: #4285f4; 
    box-shadow: 0px 0px 8px rgba(66, 133, 244, 0.5); 
} 
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px; 
}

.button-container button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: dodgerblue; 
    cursor: pointer;
}
.fieldslist,.technicianlist{
    font-weight: 100;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgba(203, 208, 221, 0.54);
    border: none;
}
.fieldstablecontainer,.techniciantablecontainer{
    display: flex;
    justify-content: center;
}
.table-container{
    margin-top: 12px;
}
#fieldstable,#techniciantable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

#fieldstable th, #fieldstable td ,#techniciantable th,#techniciantable td{
    padding:10px;
    font-size: 13px;
    text-align: left;
    font-weight: 200;
}

#fieldstable th ,#techniciantable th{
    font-size: 16px;
    font-weight: 590;
}


.delete-button {
    background-color: #f44336;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center; 
}

.delete-button svg {
    margin-right: 5px;
}
@media only screen and (max-width: 375px) {
    .add-field-button-container button,
    .add-technician-button-container button {
        padding: 1px 6px;
        border-radius: 4px;
        font-size: 8px;
        margin-right: 5px;
        transition: background-color 0.3s ease;
    }

    .add-field-button-container button svg,
    .add-technician-button-container button svg {
        width: 12px;
    }

    .add-field-button-container button:hover,
    .add-technician-button-container button:hover {
        background-color: #3874ff;
    }

    #fieldstable th,
    #fieldstable td,
    #techniciantable th,
    #techniciantable td {
        font-size: 12px;
        min-width: 100px;
    }

    #fieldstable th,
    #techniciantable th {
        font-size: 13px;
    }

    #technicianmenu {
        display: flex;
        flex-direction: column;
    }

    #techniciansearch {
        width: 200px;
    }

    .delete-button {
        padding: 8px 8px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 480px) {
    .add-field-button-container button,
    .add-technician-button-container button {
        padding: 2px 8px; 
        border-radius: 4px;
        font-size: 9px; 
        margin-right: 6px; 
        transition: background-color 0.3s ease;
    }

    .add-field-button-container button svg,
    .add-technician-button-container button svg {
        width: 14px; 
    }

    .add-field-button-container button:hover,
    .add-technician-button-container button:hover {
        background-color: #3874ff;
    }

    #fieldstable th,
    #fieldstable td,
    #techniciantable th,
    #techniciantable td {
        font-size: 13px; 
        min-width: 110px; 
    }

    #fieldstable th,
    #techniciantable th {
        font-size: 14px; 
    }

    #technicianmenu {
        display: flex;
        flex-direction: column;
    }

    #techniciansearch {
        width: 220px; 
    }

    .delete-button {
        padding: 7px 10px; 
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .add-field-button-container button,
    .add-technician-button-container button {
        padding: 3px 10px; 
        border-radius: 4px;
        font-size: 10px; 
        margin-right: 8px;
        transition: background-color 0.3s ease;
    }

    .add-field-button-container button svg,
    .add-technician-button-container button svg {
        width: 16px; /* Larger icon */
    }

    .add-field-button-container button:hover,
    .add-technician-button-container button:hover {
        background-color: #3874ff;
    }

    #fieldstable th,
    #fieldstable td,
    #techniciantable th,
    #techniciantable td {
        font-size: 14px; 
        min-width: 120px; 
    }

    #fieldstable th,
    #techniciantable th {
        font-size: 16px; 
    }

    #technicianmenu {
        display: flex;
        flex-direction: column;
    }

    #techniciansearch {
        width: 250px;
    }

    .delete-button {
        padding: 8px 12px; 
    }
}
@media only screen and (min-width: 769px) and (max-width: 979px) {

}
@media only screen and (min-width: 980px) and (max-width: 1024px){

}
@media only screen and (min-width: 1025px) and (max-width: 1399px){
    
}