<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVGR(A) Login</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/college_logo.png">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div id="college_title">
        <div id="college_logo">
            <a href="https://www.mvgrce.com/" target="_blank">
                <img src="{% static 'images/college_logo.png' %}" alt="college_logo">
            </a>
        </div>
        <div id="college_sub_title">
            <h1>Maharaj Vijayaram Gajapathi Raj College of Engineering (Autonomous)</h1>
            <h1 id="title_name">Query Raiser</h1>
        </div>
    </div>
</body>
</html>